*.o

src/chemtk
bin/
build/
ascii.periodni.com*

# LaTeX
*.out
*.aux
*.log

# autoconf, automake, and libtool
aclocal.m4
autom4te.cache/
compile
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
m4
Makefile
Makefile.in
missing
src/check_chemtk
src/check_chemtk-*
src/check_chemtk.trs
.deps/
.dirstamp
.libs/
*.la
*.lo
src/Makefile
src/Makefile.in
stamp-h1
test-driver
INSTALL

# distributions
chemtk-*

# Doxygen
doc/doxygen/html
doc/doxygen/doxygen_sqlite3.db
doc/doxygen/latex
doc/doxygen/man

# Command Documentation
doc/commands/command_specification.pdf

# Jekyll and GitHub pages
Gemfile.lock
_site

