*.o

src/chemtk
bin/
build/
ascii.periodni.com*
*.log

# autoconf, automake, and libtool
aclocal.m4
autom4te.cache/
compile
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
m4
Makefile
Makefile.in
missing
src/check_chemtk
src/check_chemtk-*
src/check_chemtk.trs
.deps/
.dirstamp
.libs/
*.la
*.lo
src/Makefile
src/Makefile.in
stamp-h1
test-driver

# Doxygen
doc/doxygen

# Jekyll and GitHub pages
Gemfile.lock
_site

.ignore

